{{ define "main" }}
<article>
    <div id="postTitle" class="desc">
        <h1>{{ .Title }}</h1>
        <p>written {{ .Date.Format "January 2, 2006" }} // {{ .ReadingTime }} min read</p>
    </div>
    <aside class="mainTOC">
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
    </aside>
    <div id="mainText">
        {{- .Content -}}
    </div>

    <div>
        {{- partial "newsletter.html" . -}}
        <a href="/">← (country roads) take me home</a>
    </div>
</article>
{{ end }}