{{ define "main" }}
<article>
    <div id="postTitle" class="desc">
        <h1>{{ .Title }}</h1>
        <p>written {{ .Date.Format "January 2, 2006" }} // {{ .WordCount }} words</p>
    </div>
    <aside>
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
    </aside>
    <div class="scrollIndicator">
        <div class="progress" id="progressBar"></div>
    </div>
    <div id="mainText">
        {{- .Content -}}
    </div>
</article>
<script>
    window.onscroll = () => {
        const scrollAmt = document.body.scrollTop || document.documentElement.scrollTop
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight
        const scrolled = (scrollAmt / height) * 100
        document.getElementById("progressBar").style.height = scrolled + "%"
    }
</script>
{{ end }}