{{ define "main" }}
<article>
    <div id="postTitle" class="desc">
        <h1>{{ .Title }}</h1>
        <p>written {{ .Date.Format "January 2, 2006" }} // {{ .WordCount }} words</p>
    </div>
    <aside>
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}
    </aside>
    <div class="scrollIndicator">
        <div class="progress" id="progressBar"></div>
    </div>
    <div id="mainText">
        {{- .Content -}}
    </div>

    <hr>
    <div>
        <p>I'm always happy to have follow up conversations or hear your thoughts! Send me an email at <a href="mailto:j.zhao2k19@gmail.com">j.zhao2k19@gmail.com</a>. If you like this content and want to keep up to date with my latest ramblings and whatever else I've found interesting on the web, you should subscribe to my newsletter too.</p>

        {{- partial "newsletter.html" . -}}

        <a href="/">← (country roads) take me home</a>
    </div>
</article>
<script>
    window.onscroll = () => {
        const scrollAmt = document.body.scrollTop || document.documentElement.scrollTop
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight
        const scrolled = (scrollAmt / height) * 100
        document.getElementById("progressBar").style.height = scrolled + "%"
    }
</script>
{{ end }}