.singlePost * {
    margin: 0.1em auto;
}

h1, h2, h3, h4, a, .time, ol, ul, thead {
    font-family: Roboto Mono;
}

a {
    text-decoration: none;
    color: var(--dark);
    transition: all 0.2s ease;
}

a:hover {
    color: var(--secondary) !important;
}

.postLink:visited {
    color: var(--visited);
}

#posts {
    list-style: none;
    padding: 0;
    margin: 0;
}

p, tbody, li {
    font-family: Roboto;
    color: var(--p);
    line-height: 1.5em;
}

input {
    font-family: Roboto;
    color: var(--p);
}

h2 {
    opacity: 0.85;
}

h3 {
    opacity: 0.75;
}

blockquote {
    margin-left: 1em;
    border-left: 3px solid var(--secondary);
    padding-left: 1em;
}

pre {
    font-family: Roboto Mono;
    padding: 0.75em;
    border-radius: 3px;
    overflow-x: scroll;
}

table {
    padding: 1.5em;
}

td, th {
    padding: 0.1em 0.5em;
}